rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to manage their own buckets and have full access to everything inside
    match /users/{userId}/{allPaths=**} {
      allow read, write, delete, create: if request.auth.uid == userId;
    }
  }
}
