.mt-auto {
  margin-top: auto
}

.flex {
  display: flex
}

.w-\[\'100\%\'\] {
  width: '100%'
}

.flex-1 {
  flex: 1 1 0%
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.text-center {
  text-align: center
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
